Repository kashalls/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/fenrys, cluster/storage

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/fenrys:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/fenrys/**/*"
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/storage/**/*"

chore: fix yaml language server urls
  kubernetes/fenrys/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/fenrys/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/fenrys/apps/default/glance/app/helmrelease.yaml
  kubernetes/fenrys/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/fenrys/apps/default/minio/app/helmrelease.yaml
  kubernetes/fenrys/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/fenrys/apps/default/openspeedtest/app/helmrelease.yaml
  kubernetes/fenrys/apps/default/pocket-id/app/helmrelease.yaml
  kubernetes/fenrys/apps/default/rtlamr2mqtt/app/helmrelease.yaml
  kubernetes/fenrys/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/fenrys/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/fenrys/apps/default/zipline/app/helmrelease.yaml
  kubernetes/fenrys/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/fenrys/apps/game-servers/azeroth/auth/helmrelease.yaml
  kubernetes/fenrys/apps/game-servers/azeroth/data-import/helmrelease.yaml
  kubernetes/fenrys/apps/game-servers/azeroth/sql/helmrelease.yaml
  kubernetes/fenrys/apps/game-servers/azeroth/world/helmrelease.yaml
  kubernetes/fenrys/apps/kube-system/irqbalance/app/helmrelease.yaml
  kubernetes/fenrys/apps/networking/cloudflare-ddns/app/helmrelease.yaml
  kubernetes/fenrys/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/fenrys/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/fenrys/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/fenrys/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/fenrys/apps/observability/speedtest-exporter/app/helmrelease.yaml
  kubernetes/fenrys/apps/sunlight/dashboard/app/helmrelease.yaml
  kubernetes/fenrys/apps/sunlight/sunlight/app/helmrelease.yaml
  kubernetes/fenrys/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/fran/flux/config/cluster.yaml
  kubernetes/fran/flux/config/flux.yaml
  kubernetes/fran/flux/config/kustomization.yaml
  kubernetes/raspi/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/raspi/flux/config/cluster.yaml
  kubernetes/shared/templates/volsync/r2.yaml
Labels: area/kubernetes, cluster/fenrys

chore: move templates back to fenrys
  kubernetes/fenrys/templates/gatus/external/configmap.yaml
  kubernetes/fenrys/templates/gatus/external/kustomization.yaml
  kubernetes/fenrys/templates/gatus/guarded/configmap.yaml
  kubernetes/fenrys/templates/gatus/guarded/kustomization.yaml
  kubernetes/fenrys/templates/volsync/claim.yaml
  kubernetes/fenrys/templates/volsync/kustomization.yaml
  kubernetes/fenrys/templates/volsync/r2.yaml
Labels: area/kubernetes, cluster/fenrys

chore: re-encrypt sops for fenrys talos
  kubernetes/fenrys/talos/fenrys.secret.sops.yaml
Labels: area/kubernetes, cluster/fenrys

chore: update bootstrap apps locations
  kubernetes/fenrys/bootstrap/helmfile.yaml
Labels: area/kubernetes, cluster/fenrys

bootstrap: raspi cluster
  kubernetes/raspi/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/raspi/apps/kube-system/cilium/ks.yaml
  kubernetes/raspi/apps/kube-system/coredns/ks.yaml
  kubernetes/raspi/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/raspi/apps/kube-system/spegel/ks.yaml
  kubernetes/raspi/bootstrap/helmfile.yaml
Labels: area/kubernetes

bootstrap: fran the nas cluster
  kubernetes/fran/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/fran/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/fran/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/fran/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/fran/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/fran/apps/kube-system/cilium/config/l2.yaml
  kubernetes/fran/apps/kube-system/cilium/config/l3.yaml
  kubernetes/fran/apps/kube-system/cilium/config/pool.yaml
  kubernetes/fran/apps/kube-system/cilium/ks.yaml
  kubernetes/fran/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/fran/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/fran/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/fran/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/fran/apps/kube-system/coredns/ks.yaml
  kubernetes/fran/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/fran/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/fran/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/fran/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/fran/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/fran/apps/kube-system/kustomization.yaml
  kubernetes/fran/apps/kube-system/namespace.yaml
  kubernetes/fran/apps/kube-system/notifications.yaml
  kubernetes/fran/apps/kube-system/spegel/app/helm-values.yaml
  kubernetes/fran/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/fran/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/fran/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/fran/apps/kube-system/spegel/ks.yaml
  kubernetes/fran/apps/system-upgrade/kustomization.yaml
  kubernetes/fran/apps/system-upgrade/namespace.yaml
  kubernetes/fran/apps/system-upgrade/notifications.yaml
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  kubernetes/fran/bootstrap/README.md
  kubernetes/fran/bootstrap/helmfile.yaml
  kubernetes/fran/talos/fran.secret.sops.yaml
Labels: area/kubernetes

fix: bad replace all
  .github/workflows/schemas.yaml
  README.md
  docs/homelab/github-repository.mdx
Labels: area/docs, area/github

chore: update schematic version for talos storage
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

fix: generate new talos config + keys, and encrypt
  kubernetes/fran/talos/fran.secret.sops.yaml
Labels: area/kubernetes

chore: add fran kubeconfig to .envrc
  .envrc
Labels: none

chore: downgrade fran test
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

fix: talos bootstrap and fran service pod cidr
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/fran/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/fran/talos/fran.secret.sops.yaml
Labels: area/kubernetes, area/taskfile

fix: spegel hack container doesn't exist anymore
  kubernetes/fran/apps/kube-system/spegel/app/helm-values.yaml
Labels: area/kubernetes

chore: fix fran flux
  kubernetes/fran/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/fran/flux/config/cluster.yaml
Labels: area/kubernetes

This is my code. My code is amazing.
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfile

We're no strangers to love
  kubernetes/fran/flux/apps.yaml
Labels: area/kubernetes

Please enter the commit message for your changes. Lines starting with '#' will be ignored, and an empty message aborts the commit.
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

The universe is possible
  kubernetes/fran/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/fran/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/fran/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

For real, this time.
  kubernetes/fran/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove unused imports
  kubernetes/fenrys/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/fenrys

:(:(
  kubernetes/fenrys/apps/networking/namespace.yaml
Labels: area/kubernetes, cluster/fenrys

mergederp
  kubernetes/fran/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Whee.
  kubernetes/fenrys/apps/default/azeroth/ks.yaml
  kubernetes/fenrys/apps/default/minecraft/ks.yaml
Labels: area/kubernetes, cluster/fenrys

Never gonna tell a lie and hurt you
  kubernetes/fenrys/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/fenrys/apps/kube-system/intel-device-plugin/app/kustomization.yaml
  kubernetes/fenrys/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/fenrys/apps/kube-system/intel-device-plugin/gpu/kustomization.yaml
  kubernetes/fenrys/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/fenrys/apps/kube-system/kustomization.yaml
  kubernetes/fenrys/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/fenrys/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/fenrys/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/fenrys/apps/kube-system/node-feature-discovery/rules/intel-gpu-device.yaml
  kubernetes/fenrys/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/fenrys/apps/kube-system/node-feature-discovery/rules/rtl-sdr-device.yaml
  kubernetes/fenrys/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/fenrys/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/fenrys

dope
  kubernetes/fenrys/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/fenrys

removed tests since i can't make them green
  kubernetes/fenrys/apps/networking/certificates/app/certificates.yaml
Labels: area/kubernetes, cluster/fenrys

lol digg
  kubernetes/fenrys/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/fenrys

Whee.
  kubernetes/fran/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

omgsosorry
  kubernetes/fran/apps/default/home-assistant/app/kustomization.yaml
Labels: area/kubernetes

SHIT ===> GOLD
  kubernetes/fran/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: fix certificate name
  kubernetes/fran/apps/networking/certificates/app/certificates.yaml
  kubernetes/fran/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/fran/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

removed echo and die statements, lolz.
  kubernetes/fran/apps/default/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

Never gonna give, never gonna give
  kubernetes/fran/apps/default/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

Pipeline goes brrrrrrr
  kubernetes/fran/apps/default/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

LAST time, coopermaruyama, /dev/urandom IS NOT a variable name generator...
  kubernetes/fran/apps/default/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

pr is failing but merging anyways, because I am an admin
  kubernetes/fran/apps/default/pocket-id/app/helmrelease.yaml
  kubernetes/fran/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/fran/apps/kube-system/cilium/config/l3.yaml
  kubernetes/fran/apps/kube-system/cilium/config/pool.yaml
Labels: area/kubernetes

oops!
  kubernetes/fran/apps/default/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

chore: update modpack
  kubernetes/fenrys/apps/default/minecraft/app/helmrelease.yaml
  kubernetes/fenrys/apps/default/minecraft/ks.yaml
  kubernetes/fenrys/apps/default/minecraft/rcon/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys

forgot a contact page woops haha
  kubernetes/fenrys/apps/kube-system/cilium/config/bgp.conf
Labels: area/kubernetes, cluster/fenrys

Fucking templates.
  kubernetes/fenrys/apps/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys
