Repository kashalls/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/fenrys, cluster/storage

chore: migrate servers to mgmt network
  kubernetes/fenrys/talos/fenrys.secret.sops.yaml
Labels: area/kubernetes, cluster/fenrys

chore: i'm done with ipv6
  kubernetes/fenrys/apps/kube-system/cilium/config/bgp.conf
Labels: area/kubernetes, cluster/fenrys

fix: disable ipv6 peering
  kubernetes/fenrys/apps/kube-system/cilium/config/l3.yaml
Labels: area/kubernetes, cluster/fenrys

feat: add longhorn
  kubernetes/fenrys/apps/storage/kustomization.yaml
  kubernetes/fenrys/apps/storage/longhorn/app/helmrelease.yaml
  kubernetes/fenrys/apps/storage/longhorn/app/kustomization.yaml
  kubernetes/fenrys/apps/storage/longhorn/ks.yaml
  kubernetes/fenrys/apps/storage/longhorn/storageclass/snapshot.yaml
  kubernetes/fenrys/apps/storage/namespace.yaml
Labels: area/kubernetes, cluster/fenrys

fix: disable tls longhorn as ssl terminates at nginx
  kubernetes/fenrys/apps/storage/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys

last minute fixes.
  kubernetes/fenrys/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/fenrys

this is how we generate our shit.
  kubernetes/fenrys/apps/storage/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys

fixed mistaken bug
  kubernetes/fenrys/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys

Herpy dooves.
  kubernetes/fenrys/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys

chore: add secureboot for ms01
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/fenrys/apps/default/kustomization.yaml
  kubernetes/fenrys/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/fenrys/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/fenrys/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/fenrys/talos/fenrys.secret.sops.yaml
Labels: area/kubernetes, area/taskfile, cluster/fenrys

chore: remove openebs-zfs
  kubernetes/fenrys/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/fenrys/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/fenrys/apps/openebs-system/openebs/app/snapshotclass.yaml
  kubernetes/fenrys/apps/openebs-system/openebs/app/storageclass.yaml
Labels: area/kubernetes, cluster/fenrys

chore: remove ipv6 block from cilium
  kubernetes/fenrys/apps/kube-system/cilium/config/l3.yaml
  kubernetes/fenrys/apps/kube-system/cilium/config/pool.yaml
Labels: area/kubernetes, cluster/fenrys

chore: enable l2 cilium
  kubernetes/fenrys/apps/kube-system/cilium/config/kustomization.yaml
Labels: area/kubernetes, cluster/fenrys

chore: update cilium values
  kubernetes/fenrys/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/fenrys/apps/kube-system/cilium/config/bgp.conf
Labels: area/kubernetes, cluster/fenrys

chore: add spark minecraft, re-enable on hostpath
  kubernetes/fenrys/apps/default/kustomization.yaml
  kubernetes/fenrys/apps/default/minecraft/app/config/dynmap/configuration.txt
  kubernetes/fenrys/apps/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys

chore: fix all references to fenrys to new node ip
  docs/homelab/networking.mdx
  kubernetes/fenrys/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys

chore: remove unused dynmap configuration
  kubernetes/fenrys/apps/default/minecraft/app/kustomization.yaml
Labels: area/kubernetes, cluster/fenrys

yet another quality commit
  kubernetes/fenrys/apps/flux-system/addons/app/notifications/github/notification.yaml
Labels: area/kubernetes, cluster/fenrys

Revert "feat(helm)!: Update chart snapshot-controller to 4.0.0 (#3102)"
  kubernetes/fran/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm)!: Update chart snapshot-controller to 4.0.0 (#3102)" (#3105)
  kubernetes/fran/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore: testing this
  .github/workflows/renovate.yaml
Labels: area/github

chore: set versioned ubuntu runs on
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
Labels: area/github

chore: testing this
  .github/workflows/renovate.yaml
Labels: area/github

chore: found some old cryptic post on a russian forum with these keys
  .github/workflows/renovate.yaml
Labels: area/github

chore: found some old cryptic post on a russian forum with these keys
  .github/workflows/renovate.yaml
Labels: area/github

chore: found some old cryptic post on a russian forum with these keys
  .github/workflows/renovate.yaml
Labels: area/github

chore: found some old cryptic post on a russian forum with these keys
  .github/workflows/renovate.yaml
Labels: area/github

chore: found some old cryptic post on a russian forum with these keys
  .github/workflows/renovate.yaml
Labels: area/github

chore: switch back to versioned releases
  kubernetes/fenrys/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys

chore: found some old cryptic post on a russian forum with these keys
  .github/workflows/renovate.yaml
Labels: area/github

chore: found some old cryptic post on a russian forum with these keys
  .github/workflows/renovate.yaml
Labels: area/github

chore: why am I like this
  kubernetes/raspi/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore: clean up renovate experiment
  .github/workflows/renovate.yaml
Labels: area/github

chore: test renovate permission secret again
  .github/workflows/renovate.yaml
Labels: area/github

chore: add prometheus exporter to mc
  kubernetes/fenrys/apps/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys

chore: enable dump of sertver properties as requested
  kubernetes/fenrys/apps/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys

chore: enforce online mode
  kubernetes/fenrys/apps/default/minecraft/app/helmrelease.yaml
Labels: area/kubernetes, cluster/fenrys

test
  README.md
Labels: area/docs

chore: remove system-upgrade-controller
  kubernetes/fenrys/apps/system-upgrade/kustomization.yaml
  kubernetes/fenrys/apps/system-upgrade/namespace.yaml
  kubernetes/fenrys/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/fenrys/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/fenrys/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/fenrys/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/fenrys/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/fenrys/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/fenrys/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/fenrys

chore: use super user for sunlight for now
  kubernetes/fran/apps/sunlight/sunlight/app/externalsecret.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/fenrys:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/fenrys/**/*"
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/storage/**/*"
